<script>
// const gallery = {
//   allWorks: '<img src="<%#= @work.artwork_image %>"alt="<%#=@work.title %>">'
// };

const gallery = [
  <% @works.each do |work| %>
    '<a href="/users/<%= work.user_id %>"><img src="<%= work.artwork_image %>"alt="<%= work.title %>"></a>',
  <% end %>
];

</script>

<h1>All Works</h1>
<div id="gallery-container">

  <div id="photos">
  </div>
</div>

    <!-- <% @works.each do |work| %>

            <% if work.artwork_image.present? %>

              <a href="<%= url_for work %>"><img src="<%= work.artwork_image %>"alt="<%=work.title %>"></a>
</div>
            <% else %>
            <p>  No photos provided for artwork.</p>
            <% end %>
            <% end %> -->
