
      <h1>New Artwork</h1>

      <!-- #  title         :text
      #  user_id       :integer
      #  price         :decimal(, )
      #  artwork_image :text
      #  category      :text -->
<%= form_for(@work, :html => { :multipart => true}) do |f| %>

        <%= f.label :title %>
        <%= f.text_field :title, :autofocus => true %>

        <%= f.label :price %>
        <%= f.number_field :price, step: 0.01, min: 0%>

        <%= f.label(:artwork_image, "Upload Img") %>
          <%= f.file_field :artwork_image %>

        <%= f.label :category %>
        <%= f.text_field :category %>

        <%= submit_tag "Create Artwork" %>

<% end %>
