
<% if @work.user.id == @current_user.id %>

<div class="works-index">
<%= link_to "Edit ArtWork", edit_work_path(@work)  %>

<%= link_to "Delete Artwork", work_path(@work), :method => 'delete', :data => { :confirm => 'Are you sure?' }  %>
</div>
<% end %>


              <p>Title of artwork is <%= @work.title %></p>
              <p>Price of artwork is <%= @work.price %></p>
              <p>Category is <%= @work.category %></p>

          Created by <i><%= @work.user.name %></i>
          on <i><%= @work.created_at.strftime("%Y-%m-%d") %></i>,
          at <i><%= @work.created_at.strftime("%I:%M%p") %></i>

      <% if @work.artwork_image.present? %>
        <a href="<%= url_for @work %>"><img src="<%= @work.artwork_image %>"style='width:50%; height:50%;'""alt="<%=@work.title %>"></a>
      <% else %>
      <p>  No photos provided for artwork.</p>
      <% end %>
