<div class="booking-container">
<div class="info">
  <h1 style="margin-top: 5rem;">
    Book a session with <%= @visit.user.name %>
  </h1>
  <div>
    <%= image_tag @visit.user.profile_image, class: "profile-booking-image" %>
  </div>
  <p>Please note! All bookings are for 1 hour.</p>
</div>



<br>
<br>

<%= form_for(@booking) do |f| %>
  <div class="container-radio">
    <h3 class="radio-title"><b>Day</b></h3>
    <ul class="list-radio">
    <% @dateRange.each do |n| %>
      <li class="radio-item">
        <%= radio_button("booking", "date", n) %>
        <%= label("booking", "date", n, value: n, class:"label-radio") %>
         <div class="check"></div>
      </li>
    <% end %>
  </ul>
  </div>

  <div class="container-radio">
    <div class="radio-title"><b>Hour</b></div>
    <ul class="list-radio">
    <% (9..16).each do |n| %>
      <li class="radio-item">
        <%= radio_button("booking", "start_hour", n) %>
        <%= label("booking", "start_hour", "#{n} o'clock", value: n, class:"label-radio") %>
         <div class="check"></div>
      </li>
    <% end %>
  </ul>
  </div>

  <div class="button-booking">
    <%= hidden_field("booking", "artist_id", :value => @visit.user_id) %>
    <%= submit_tag "Book Now", class: "form_button" %>
  </div>
<% end %>
</div>
