<div class="container">
  <% if @current_user.present? %>
    <h2>Edit Your Profile!</h2>
    <hr>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <% if @current_user.image? %>
            <%= image_tag @current_user.image, :class => "avatar img-circle img-thumbnail" %>
          <% else %>
            <%= image_tag 'https://www.goaltos.com/wp-content/uploads/sites/4559/2018/01/avatar-1577909_960_720.png', :class => "avatar img-circle img-thumbnail" %>
            <h6>Upload a different photo...</h6>
          <% end %>
        </div>
      </div>
    <% end %>
    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        <%= @current_user.name %>
      </div>
      <h3>Personal info</h3>
      <%= form_for(@user, :html => { :multipart => true}) do |f| %>
      <div class="form-group">
        <%= f.label :name, :class => 'col-md-3 control-label' %>
        <div class="col-md-8">
          <%= f.text_field :name, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, :class => 'col-md-3 control-label' %>
        <div class="col-lg-8">
          <%= f.text_field :email, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, :class => 'col-md-3 control-label' %>
        <div class="col-md-8">
          <%= f.password_field :password, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, :class => 'col-md-3 control-label' %>
        <div class="col-md-8">
          <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :image, :class => 'col-md-3 control-label' %>
        <div class="col-md-8">
          <%= f.file_field :image, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">

        <div class="col-md-6 d-flex">
          <%= f.submit "Save changes!", :class => 'btn btn-primary button_edit'%>

          <%= link_to "Post item instead?", new_item_path, :class => 'btn btn-primary', :method => 'get'%>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
