<% if @current_user.present? %>
    <h2>Edit Your Profile!</h2>
    <hr>
          <% if @current_user.profile_image? %>
            <%= image_tag @current_user.profile_image %>
          <% else %>
            <%= image_tag 'https://www.goaltos.com/wp-content/uploads/sites/4559/2018/01/avatar-1577909_960_720.png', :class => "avatar img-circle img-thumbnail" %>
            <h6>Upload a different photo...</h6>
          <% end %>

    <% end %>
    <!-- edit form column -->
        <%= @current_user.name %>
      </div>
      <h3>Personal info</h3>
      <%= form_for(@user, :html => { :multipart => true}) do |f| %>

        <%= f.label(:name, "Full Name")%>
          <%= f.text_field :name %>

          <%= f.label :email%>
            <%= f.text_field :email %>

              <%= f.label :password %>
                <%= f.password_field :password%>

              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation%>

          <%= f.label(:user_name, "Choose User Name")%>
          <%= f.text_field :user_name %>

          <%= f.label(:profile_image, "Upload Img") %>
            <%= f.file_field :profile_image %>

          <%= f.label(:location, "Choose Your Location")%>
          <%= f.text_field :location %>

          <%= f.label(:blurb, "Write Your Blurb")%>
          <%= f.text_field :blurb %>

          <%= f.label(:is_artist, "Are you an artist?")%>
          <%= radio_button_tag(:is_artist_yes, 1) %>
          <%= label_tag(:is_artist_yes, "Yes") %>
          <%= radio_button_tag(:is_artist_no, 0) %>
          <%= label_tag(:is_artist_no, "No") %>

          <%= f.label(:phone, "Provide Phone Number")%>
          <%= f.text_field :phone %>

          <%= f.submit "Save changes" %>



<% end %>
